

<!DOCTYPE html> 
<html> 
	<head> 
	<title>My Page</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
	<link rel="stylesheet" href="{{ static_url }}css/mobile.css" />
</head> 
<body> 


    {% block content %}
    {% endblock %}


{% include 'snippets/add-form.html' %}

{% include 'snippets/stats.html' %}


<script type="text/javascript">

function nextMonth(event) {
   var url = $('#nextMonth').attr('href');
   $.mobile.changePage(url, { transition: 'slide' });
   event.preventDefault();  
}

function prevMonth(event) {
   var url = $('#prevMonth').attr('href');
   $.mobile.changePage(url, { transition: 'slide' });
   event.preventDefault();  
}


$(document).bind('pageinit', function() {
   $(document).bind('swipeleft', prevMonth);
   $(document).bind('swipeleft', nextMonth);
});

</script>


</body>
</html>