<div id="footer" data-role="footer" data-position="fixed"> 
  <div data-role="navbar">   
    <ul>
        <li><a data-role="button" data-icon="plus" data-iconpos="left" href="#addForm" data-rel="dialog" data-transition="flip">Add</a></li>
        <li><a data-role="button" data-icon="home" data-iconpos="left" href="/" data-transition="flip">Home</a></li>
        <li><a data-role="button" data-icon="info" data-iconpos="left" href="#stats" data-rel="dialog" data-transition="flip">Stats</a></li>
    </ul>
  </div>
</div>