{% extends base_template %}

{% block pagetitle %}Reset your password{% endblock %}

{% block extracss %}
<style type="text/css">
.super {
  margin-top: 15%;   
}

ul.errorlist {
  float: left;
  width: 560px;
  color: red;
  font-size: 13px;
  list-style-type: ;
  margin: 0 0 10px 20px;
  padding: 0;	
}

</style>
{% endblock %}


{% block content %}
<div class="super">
<h1><a href="">&laquo; Home</a> \ Forgotten your password?</h1>

<p>If you've forgotten your password, just enter the email address you used to register below, and we'll reset your password for you. You will be sent an email confirming your new password.
</p>


<form method="post" action=".">
  {% csrf_token %}
  <p><label for="id_email">Your email address</label><input id="id_email" type="text" name="email" maxlength="75" class="clearMeFocus" /></p>
  <p><input class="button" type="submit" value="Reset password" /></p>
</form>
</div>
{% endblock %}
