{% extends base_template %}

{% block pagetitle %}Register{% endblock %}

{% block extrajs %}
<script type="text/javascript">

</script>
{% endblock %}


{% block extracss %}

<style type="text/css">

.super {
  margin: 160px auto;   
}

#username_status {
  float: right;
  height: 40px;
  width: 290px;	
  margin: 27px 0 20px 0;
  display: none;
}

#username_status .ok, #username_status .notok {
    border-radius: 0 5px 5px 0;
    display: none;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 19px;
    left: -108px;
    padding: 12px 15px 10px;
    position: relative;
    width: 50px;
}

#username_status .ok {
  background-color: #2e9e33;
  color: #fff;
  width: 87px;
  left: -145px;	
  padding: 8px 15px 14px 15px;
}

#username_status .notok {
  background-color: red;
  color: #fff;	
  width: 123px;
  left: -182px;
  padding: 8px 15px 14px 15px;
}

</style>
{% endblock %}

{% block content %}
<div class="super">
<h1><a href="{% url home %}">&laquo; Home</a> \ Signup</h1>
<p>We will <strong>never</strong> pass on your private information to any other individual or company. Your information is stored securely, your password encrypted, and your email will never be displayed publicly. We hate spam just as much as you do!</p>

<div id="username_status">
	<div class="ok"><img src="/images/username_tick.png" style="float: left; margin-right: 10px;"/>Username available</div>
	<div class="notok"><img src="/images/username_cross.png" style="float: left; margin: 2px 10px 0 0;"/>Username taken (choose another)</div>
</div>


{{ form.errors }}

<form method="post" action=".">
  {% csrf_token %}
  <p><input id="id_email" type="text" class="required clearMeFocus" name="email" maxlength="75" /><label for="id_email">Your email address <span>(will never be made public)</span></label></p>
  <p><input id="id_password1" type="password" class="required clearMeFocus" name="password1" /><label for="id_password1">Choose a password</label></p>
  <input type="submit" value="Register" class="register button" />
</form>


</div>
{% endblock %}
