<form id="add-form" action="{% url addjob %}" method="post">
    {% csrf_token %}
    <input type="text" value="" title="Type details of the job here" name="details" id="id_details" class="clearMeFocus"/>
    
    <input type="submit" value="Save" class="submit button"/>
    <a href="#" id="cancelAddJob" onclick="clearAll()" title="Cancel"|>X</a>
    <input type="hidden" id="id_start_date" name="start_date" value=""/>
    
    <p><span id="tips">Show tips</span></p>
    <div id="tips-full">
        <span id="example">@NASA #moon-launch 350USD 12.15am 2.5h</span>
        <span id="explanation">@Client #Job [Rate + Currency] [Start-time] [Duration]</span>
    </div>
</form>
