<div id="footer">
  <div class="inner">
	   <ul>
            {% for x in clients %}
            <li><strong>{{ x.name|capfirst }} ({{ x.money|floatformat }})</strong></li>
            {% endfor %}
            
            {% if total_money %}<li><strong>Total money:</strong> {{ total_money }}</li>{% endif %}
            {% if paid %}<li><strong>Total paid:</strong> {{ paid }}</li>{% endif %}
            {% if completed %}<li><strong>Total completed:</strong> {{ completed }}</li>{% endif %}
            {% if av %}<li><strong>Average daily:</strong> {{ av }}</li>{% endif %}
	   </ul>

  </div>
</div>