<div id="header" {% if firsttime %}class="firsttime"{% endif %}>
   <div class="inner">
      {% if request.user.is_authenticated %}        
        <a href="" id="user" class="button">Your account</a>
        <a class="button" id="share" title="Share this calender" href="">Share</a>
      {% endif %}
        
      {% if next_month %}
        <div id="next_previous">
            <a class="button" href="?year={{ prev_year }}&month={{ prev_month }}"><</a>
            <span class="date">{{ date|date:"M Y" }}</span>
            <a class="button" href="?year={{ next_year }}&month={{ next_month }}">></a>
        </div>
      {% endif %}
        
   </div>
</div>
