html{color:#000;background: url('/static/images/bg1.png') repeat top left #e6e6e6;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}


h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

q:before,q:after{content:'';}

abbr,acronym{border:0;font-variant:normal;}

sup{vertical-align:text-top;}

sub{vertical-align:text-bottom;}

input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}del,ins{text-decoration:none;}


html {
  border: none;
  margin: none;
  padding: none;
}

body {
  font-weight: 0.9em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;	
  margin: 0;
  padding: 0;
}

/* links */

a img {
  border: none;	
}

a img:hover {
  opacity: 0.8;	
}

a {
  text-decoration: none;	
}

a:link, a:visited {
  color: #0088CC;
}

a:hover, a:active, #navigation li a:hover {
  color: #005580;
}

.button, a.button, input.button {
    border: 1px solid #D6D6D6;
    color:#0088CC;
    text-shadow: 0 1px 0px #fff;
    font-weight: bold;
    font-size: 12px;
    border-radius: 3px;
    padding: 10px 15px;    
	background: rgb(237,237,237); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(247,247,247,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(100%,rgba        (247,247,247,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(247,247,247,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(237,237,237,1) 0%,rgba(247,247,247,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}

.button:hover {
  box-shadow: 0 1px 6px #d1d1d1;
  border: 1px solid #c1c1c1;
  color:#0088CC;
  text-decoration: underline; 
  cursor: pointer;
}

.button.right {
  float: right;	
}

.button.done {
  background: #137f10;
  color: #fff;
  text-shadow: none;
  border-color: #21702A #21702A #1C6022 #1C6022;

background: rgb(39,142,50); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(39,142,50,1) 0%, rgba(71,158,60,1) 50%, rgba(24,137,16,1) 51%, rgba(7,124,13,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(39,142,50,1)), color-stop(50%,rgba(71,158,60,1)), color-stop(51%,rgba(24,137,16,1)), color-stop(100%,rgba(7,124,13,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(39,142,50,1) 0%,rgba(71,158,60,1) 50%,rgba(24,137,16,1) 51%,rgba(7,124,13,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(39,142,50,1) 0%,rgba(71,158,60,1) 50%,rgba(24,137,16,1) 51%,rgba(7,124,13,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(39,142,50,1) 0%,rgba(71,158,60,1) 50%,rgba(24,137,16,1) 51%,rgba(7,124,13,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(39,142,50,1) 0%,rgba(71,158,60,1) 50%,rgba(24,137,16,1) 51%,rgba(7,124,13,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#278e32', endColorstr='#077c0d',GradientType=0 ); /* IE6-9 */


}

.button.green:hover {
  background-color: #3c913a;
}

/* end links */

p {
  font-size: 16px;
  line-height: 1.6em;	
}

p.introduction {
  color: #666;
  font-size: 20px;	
}

h1 {
  font-size:34px;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 0 0 0px 0;
  text-shadow: 1px 2px 0 #FFFFFF;	
}

h2 {
  font-size: 28px;
  font-weight: bold;	
  letter-spacing: -1px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.5px;
  margin: 0; 
  line-height: 1em;  
}


input {
  padding: 10px;
  font-size: 16px;
  font-family: Helvetica, Arial sans-serif;
  border: 1px solid #e1e1e1;
  border-radius: 4px;	
}

input:focus {
  border-color: #87bfdb;
  background-color: #f6f9fb;
  box-shadow: 0 1px 2px #87BFDB inset;
}

label {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2em;
  position: relative;
  top: 5px;	
}


/* main divs */

.super {
  width: 960px;
  margin: 60px auto;  	
}



/* footer and header divs */


#header {
  height: 80px;
  width: 100%;
  color: #333;
  padding: 10px 0;
  font-size: 13px; 
  z-index: 30;  
  top: 0;
}

#expandable {
  height: auto;
  width: 96%;
  float: left;
  margin: 10px 0 40px 0;
  background: #fff;
  display: none;
  padding: 20px 2%;   
}

#expandable.open {
   display: block; 
   position: relative;
   top: -20px;  
}

#expandable #user-full, #expandable #share-full {
  display: none;   
}

#footer {
  float: left;
  width: 100%;
  padding: 10px 0 30px 0;
  margin: 0 0 100px 0; 
}

#header #next_previous {
  float: right; 
}

#header #next_previous .date {
    color: #777777;
    float: left;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: -1px;
    margin: -1px 10px;
    position: relative;
    text-transform: uppercase;
    top: 5px;
}

#header #next_previous a {
  margin: 0;   
}

#header a {
    float: left;
    margin: 0 10px 0 0;
    width: auto;
}

#header a.button.selected {
  background: #fff;
  border: 1px solid transparent;
  padding-bottom: 30px;
}

#footer .inner, #header .inner {
 width: 96%;
 margin: 0 0 0 2%;
 padding: 0px 0;
}

#footer ul {
  list-style-type: none;
  margin: 6px 0 0 5%;
  padding: 0; 
  width: 90%;  
}

#footer ul li.block {
  float: left;
  width: 25%;
  margin-right: 2%;
}

#footer ul li.block h3 {
  font-weight: normal; 
  text-shadow: 1px 1px 0 #fff;  
}

#footer ul li.block.green h3 {
  color: #05a63e;   
}

#footer ul li.block.blue h3 {
  color: #2d74c4;   
}

#footer ul li.block.red h3 {
   color: #9d1c1c;   
}

#footer ul li.block ul {
   margin: 0;
   padding: 0;   
}

/* add form styles */

#add-form {
 display: none; 
 background: #fff;
 padding: 0.8% 2%;
 z-index: 30; 
 width: 96%;
 float: left;
 top: 0;
 left: 0;
 position: fixed;
 box-shadow: 0 1px 5px #c1c1c1;
 border-bottom: 4px solid #B3CCDB;
background: rgb(167,199,220); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(167,199,220,1) 0%, rgba(133,178,211,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(167,199,220,1)), color-stop(100%,rgba(133,178,211,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


#add-form #loading {
 display: none ;
 position: absolute;
 top: 20px;
 left: 45%;   
}

#add-form input {
  width: 60%;
  margin: 0 10px 0px 0;
  float: left;  
}

#add-form input:focus {
  box-shadow: none;   
}

#add-form input.submit {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    font-size: 33px;
    font-weight: normal;
    padding: 4px 0 0;
    text-shadow: 1px 1px 0 #777;
    width: auto;
}

#add-form input.submit:hover {
   cursor: pointer;
   border: none;
   box-shadow: none;
   text-decoration: none;   
}

#add-form #cancelAddJob {
    background: none repeat scroll 0 0 #F1F1F1;
    border-radius: 55px 55px 55px 55px;
    font-weight: bold;
    padding: 10px 14px;
    position: absolute;
    right: 20px;
    text-shadow: 1px 1px 0 #FFFFFF;
    top: 11px;
    background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border: 1px solid #fff;
   
}

#add-form #cancelAddJob:hover {
  box-shadow: 0 0 6px #888;   
}

#add-form p {
  font-size: 13px;   
}

#add-form #tips {
    color: #FFFFFF;
    float: left;
    font-size: 13px;
    margin: 10px 0 0 30px;
}

#add-form #tips:hover {
  cursor: pointer; 
  text-decoration: underline; 
}

#add-form #tips-full {
  display: none;
  margin-top: 10px;   
}

#add-form #tips-full #example {
    color: #FFFFFF;
    float: left;
    font-size: 31px;
    font-weight: bold;
    margin: 10px 0;
    text-shadow: 0 1px 0 #000000;
    width: 100%;
}

#add-form #tips-full #explanation {
   float: left;
   width: 100%;
   font-size: 22px;
   color: #444;
}

#add-form table {
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    width: 100%;
}

#add-form table strong {
   color: #333;
   font-size: 18px;   
}

