{% extends base_template %}

{% block pagetitle %}A Calendar for People Who Get Paid by the Hour{% endblock %}

{% block extrajs %}
<script type="text/javascript">
</script>
{% endblock %}

{% block extracss %}
<style type="text/css">
.super {
  margin-top: 15%;   
}

p {
  margin: 10px 0 10px 0;
  float: left;
  width: auto;   
}

a.button {
  margin: 0 20px 0 0px;
}

#header, #footer {
  display: none;   
}


</style>
{% endblock %}

{% block content %}
<div class="super">
    <h1>A Calendar for People Who Get Paid by the Hour</h1>
    <p>Track your appointments, understand your financial position in a flash, and avoid the annoying admin-overheads of hourly working.</p>

    <p>
        <a href="{% url anonymous_login %}" class="button filled">Try it out right now (free, instant)</a>
        <a href="{% url auth_login %}" class="button">Login</a>
        <a href="{% url registration_register %}" class="button">Register</a>
        …or <a href="/tour/one/">take an extremely quick tour &raquo;</a>
    </p>
    
</div>


{% endblock %}
