{% extends base_template %}

{% load django_static %}


{% block extrajs %}
<script type="text/javascript">

$(document).ready(function() {
    
    buildCal();
    
    $('#nextMonth').bind('click', nextMonth);
    $('#prevMonth').bind('click', prevMonth);
    
    $('#add-form #tips').click( function() {   
        $('#tips-full').toggle();
        if ($(this).text() == 'Show tips') {
            $(this).text('Hide tips');
        } else {    
            $(this).text('Show tips');
        }
    });
});

</script>
{% endblock %}

{% block extracss %}
<style type="text/css">



</style>
{% endblock %}

{% block content %}

    <div id="content">
        <div id="days">
            <span>Mon</span>
            <span>Tue</span>
            <span>Wed</span>
            <span>Thu</span>
            <span>Fri</span>
            <span>Sat</span>
            <span>Sun</span>
        </div>
         <ul id="month"></ul>
         
    </div><!-- /content -->
    
{% endblock %}