{% extends base_template %}

{% load django_static %}


{% block extrajs %}
<script type="text/javascript">

</script>
{% endblock %}

{% block extracss %}
<style type="text/css">
.super {
  margin-top: 15%;   
}

</style>
{% endblock %}

{% block content %}
<div class="super">
<h1>I hate trying to keep track of appointments on pieces of paper</h1>
<p>That's why this is an online calendar tool - you can view, edit and add jobs easily and set email reminders so you don't forget things. <a href="/tour/two/">And there's one more thing it does which you'll love &raquo;</a></p> 


</div>
{% endblock %}
