{% extends base_template %}


{% block pagetitle %}…But I Love Knowing How Much Money I'll Make This Month{% endblock %}


{% block extracss %}
<style type="text/css">
.super {
   margin-top: 15%;   
}

p {
  margin: 0 0 20px 0;   
}

a.button {
  margin: 0 20px 0 0;   
}

</style>
{% endblock %}

{% block content %}
<div class="super">
<h1>… knowing how much money you'll make this month!</h1>
<p>How much did you earn last month? How much money will you earn next month? As well as making scheduling and planning your life easier, the Timetracker also tells you in an instant what your financial position was, is and will be in the future.</p> 
<p><a href="{% url anonymous_login %}" class="button filled">Try the tool out right now (free, instant) &raquo;</a><a class="button" href="{% url home %}">…or go back to the homepage</a></p>

</div>
{% endblock %}
